torch
torchmetrics
lightning
timm==1.0.9
polars[numpy,pandas]
numpy
pandas<3
pyarrow
scipy
scikit-learn
matplotlib
numba
h5py
tables
tqdm
pyyaml
pytest
python-dotenv
psutil
fastaparser
lxml
isal
tabulate 
pymsio
